@media only screen and (max-width:1200px){
  section{
    display: none;
  }
  .contentbx{
    padding-top: 5vw !important;
  }
  .contentbx h2 {
    position: relative;
    font-size: 2em !important;
    margin-bottom: 5vh;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 200vh;
  width: 100%;
  height: 100%;
  background: url("./img src/blog-content-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  overflow-x: hidden;
}

/* Front Scrolling effect page */
section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  pointer-events: none;
  color:black;
  font-family: "Lobster Two", sans-serif;
}
section .side#side1 {
clip-path: polygon(0 0, 70% 0, 70% 25%, 30% 25%, 30% 68%, 70% 68%, 70% 100%, 0 100%);
}
section .side#side2 {
  color:black;
  clip-path: polygon(100% 0, 70% 0, 70% 25%, 30% 25%, 30% 68%, 70% 68%, 70% 100%, 100% 100%);

}
section .side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./img src/blog-bg.jpg");
  background-position-y: -20vh;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Content on the front scrolling effect*/
.side .hding {
  position: absolute;
  top: 25vh;
  box-sizing: border-box;
  width: 50%;
  height: 43vh;
  padding: 15vh;
  background: rgba(138, 138, 138, 0.65);
}

/* fact slider css side 1 */
.container.p{
  text-align: center;
}
.container{
  position: relative;
  bottom: 1.5vw;
}
.item{
  padding:1.2vw;
  font-family:"Oswald";
  height: 15vw;
  text-align: center;
}
.carousel-inner{
  color: white;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}
/*ends*/

#head1{
  
  padding: 5vh;
  font-size: 2em;
}
#head2 {
  /* set according to text */
  position: absolute;
  width: 70%;
  right:0;
  text-align: center;
}
.side .hding h1 {
  letter-spacing: 1px;
  font-size: 5.5em;
}

/* scroll icon down anim */

@keyframes scroll {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(10px);
  }
}
.copy-r {
  position: absolute;
  left: 0.5vw;
  bottom: -1.5vh;
  font-size: 1.5em;
  font-family: 'Times New Roman', Times, serif;
  color: lavender;
}
.scroll-down {
  height: 200px;
  position: absolute;
  right: 45vw;
  bottom: 0;
}
.scrollicon {
  text-align: center;
  color: blanchedalmond;
  font-size: 2.5em;
  animation: scroll 3s infinite ease-in-out;
}
.scroll-down p {
  color: rgb(243, 231, 210);
  font-size: 2.2em;
  position: relative;
  top: 15vh;
  /* right: 10v; */
}

/* content */
.contentbx h2 {
  position: relative;
  font-size: 4em;
  margin-bottom: 5vh;
}
.contentbx p {
  padding: 4vw;
  position: relative;
  text-align: justify;
  font-size: 1.6em;
}
.contentbx {
  color: white;
  width: 75%;
  margin: auto;
  background: rgba(0, 0, 0, 0.39);
  padding-top: 145vh;
}

/* tooltips in content box */
.hyper {
  color: red;
  cursor: help;
}

/* Tooltip text */
.hyper .ptext {
  visibility: hidden;
  width: 210px;
  font-size: 0.5em;
  background-color:rgb(83, 83, 83);
  color: #fff;
  text-align: center;
  padding: 6px;
  border-radius: 3px;
  
  bottom: 50%;
  right: 1%;
  margin-left: -20px; /* Use half of the width (120/2 = 60), to center the tooltip */

  position: fixed;
  z-index: 1;
}

/* Show the text of tooltip*/
.hyper:hover .ptext {
  visibility: visible;
}

.wrap {
  float: right;
  margin: 30px;
  width: 200px
}
/* adverts */
.ads {
  display: none;
  background-color: rgba(245, 245, 245, 0.493);
  opacity: 0.8;
  width: 12vw;
  height: 400px;
  font-size: 1.4em;
  color: black;
  margin: 20px;
  padding: 10px;
  bottom: 10px;
}
#ad1 {
  position: fixed;
}
#ad2 {
  position: fixed;
  right: 0px;
}

.blog-heading {
  font-family: "Libre Baskerville", serif;
  text-align: center;
  padding-top: 5vh;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
}
